<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Succulent 'Sitter</title>
    <style>
        h1 {
            color: #3f8523;
            font-family: Verdana, Geneva, sans-serif;
        }
        
        body {
            background-color: #f0ebf2;
        }
        
        p {
            color: #3f8110;
            font-family: Verdana, Geneva, sans-serif;
        }
    </style>
</head>

<body>
    <h1>Succulent 'Sitter</h1>
    <p>{{ data.get('send_val', 'No data available') }}</p>
</body>

</html>
