<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Succulent 'Sitter</title>
    <style>
        h1 {
            color: #3f8523;
            font-family: Verdana, Geneva, sans-serif;
        }
        
        h2 {
            color: #3f8523;
            font-family: Verdana, Geneva, sans-serif;
        }
        
        h3 {
            color: #3f8523;
            font-family: Verdana, Geneva, sans-serif;
        }
        
        body {
            background-color: #f0ebf2;
        }
        
        p {
            color: #3f8523;
            font-family: Verdana, Geneva, sans-serif;
        }

        canvas {
            max-width: 300px;
            max-height: 200px;
            margin: 20px 0;
            display: block;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
</head>
<body>
    <h1>Succulent 'Sitter</h1>
    <h2>Most Recent Readings:</h2>
    <p>{{ latest_data }}</p>

    <!-- Graph Containers -->
    <h2>Succulent Statistics:</h2>
    <canvas id="temperatureChart"></canvas>
    <canvas id="moistureChart"></canvas>
    <canvas id="lightChart"></canvas>

    <script>
        async function fetchData() {
            try {
                const response = await fetch('/data');
                const data = await response.json();
                console.log('Fetched data:', data);  // Logging fetched data
                return data;
            } catch (error) {
                console.error('Error fetching data:', error);
            }
        }

        function parseData(data) {
            try {
                const timestamps = data.map(entry => entry.timestamp);
                console.log('Parsed timestamps:', { timestamps });  // Logging parsed data
                const temps = data.map(entry => parseFloat(entry.data.split(',')[0].split(': ')[1].split('°C')[0]));
                console.log('Parsed temps:', { temps });
                const moistures = data.map(entry => parseFloat(entry.data.split(',')[1].split(': ')[1].split('%')[0]));
                console.log('Parsed moistures:', { moistures });
                const lights = data.map(entry => parseFloat(entry.data.split(',')[2].split(': ')[1].split('%')[0]));
                console.log('Parsed lights:', { lights });
                return { timestamps, temps, moistures, lights };
            } catch (error) {
                console.error('Error parsing data:', error);
            }
        }
        

        function createChart(ctx, labels, data, label, borderColor) {
            new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: label,
                        data: data,
                        borderColor: borderColor,
                        borderWidth: 2,
                        fill: false
                    }]
                },
                options: {
                    plugins: {
                        title: {
                            display: true,
                            text: label,
                        }
                    },
                    scales: {
                        x: {
                            type: 'time',
                            time: {
                                unit: 'minute'
                            },
                            ticks: {
                                font: {
                                    family: 'Verdana, Geneva, sans-serif',
                                    size: 12
                                }
                            }
                        },
                        y: {
                            ticks: {
                                font: {
                                    family: 'Verdana, Geneva, sans-serif',
                                    size: 12
                                }
                            }
                        }
                    },
                    elements: {
                        point: {
                            radius: 0
                        }
                    }
                }
            });
        }        
    
        async function renderCharts() {
            try {
                const rawData = await fetchData();
                const parsedData = parseData(rawData);
    
                const tempCtx = document.getElementById('temperatureChart').getContext('2d');
                createChart(tempCtx, parsedData.timestamps, parsedData.temps, 'Temperature (°C)', 'rgba(255, 99, 132, 1)');
    
                const moistureCtx = document.getElementById('moistureChart').getContext('2d');
                createChart(moistureCtx, parsedData.timestamps, parsedData.moistures, 'Moisture (%)', 'rgba(54, 162, 235, 1)');
    
                const lightCtx = document.getElementById('lightChart').getContext('2d');
                createChart(lightCtx, parsedData.timestamps, parsedData.lights, 'Light (%)', 'rgba(255, 206, 86, 1)');
            } catch (error) {
                console.error('Error rendering charts:', error);
            }
        }
    
        document.addEventListener('DOMContentLoaded', renderCharts);

        // Function to refresh the page
        function refreshPage() {
            location.reload();
        }

        // Call refreshPage function every 5 seconds (5000 milliseconds)
        setInterval(refreshPage, 5000);
    </script>
</body>
</html>